<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

{% block content %}

<h2>View Roles</h2> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">Job Role Name</th>
      <th scope="col">Job Capability</th>
    </tr>
  </thead>
  <tbody>

{% if roles and roles.length > 0 %} 
{% for role in roles %}
<tr> 
<td>{{role.jobName}}</td>
<td>{{role.capabilityName}}</td>
</tr>
{% endfor %} 

{% else %} 
There are no job roles. 
{% endif %}
  </tbody>
</table>

{% endblock %} 
